# Virtual environment
myenv/

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Logs
*.log

# Ignore test files if desired
test.py

test_groq.py
model_comparison_output.md
outputs/
cogvideox-2b-img2vid-workflow-API.json
test_urls.csv